@page "/recipesearch"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HappyChef.Shared
@attribute [Authorize]
@inject IHttpClientFactory _clientFactory
@inject HttpClient httpClient


<h3>Search recipes</h3>

<input placeholder="Recipe Name" @oninput="(val) => RecipeSearching(val)" />

@if (searchresult != null && searchresult.hits != null)
{

    <div class="row">
        @foreach (var item in searchresult.hits)
        {
            <div class="col-3">
                <div class="card">
                    <div class="card-header">@item.Recipe.Label</div>
                    <div class="card-footer">Calories : @item.Recipe.Calories</div>
                    <div class="card-footer">Total time : @item.Recipe.TotalTime </div>
                    <div class="card-footer"><button class="btn btn-primary">Add to favourites</button></div>
                    <div class="card-header" href="@item.Recipe.Url">Open recipe</div>
                    <div class="card-footer"><img src="@item.Recipe.Image"></div>

                </div>

            </div>
        }

    </div>
}

@code {

    private HappyChef.Client.Models.GetRecipeModel searchresult { get; set; }

    private async Task RecipeSearching(ChangeEventArgs val)
    {
        string title = val.Value.ToString();

        var url = String.Format(@"https://api.edamam.com/search?q={0}&app_id=b7d7673f&app_key=165ba23ed5126d12ecfe3cd57091d539&from=0&to=5", title);
        searchresult = await httpClient.GetFromJsonAsync<HappyChef.Client.Models.GetRecipeModel>(url);

    }

}
